# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Vercel Blob (upload de imagens)
BLOB_READ_WRITE_TOKEN=

# Focus NFe (opcional se usar token salvo no banco)
FOCUS_NFE_TOKEN=
FOCUS_NFE_API_URL=https://api.focusnfe.com.br/v2
